<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ordered Books</title>


</head>
<body>
<br>
<div class = "cart">
    <h3>Selected Books</h3>
<table>
    {%  for book in cartItems %}
    <tr>
        <td>{{ book[0] }}</td>
        <td>${{ book[1] }}</td>
    <td>
        <form method="post" action="/remove">
            <input type="hidden" name = "removeBookItem" value={{ book[0]}}>
            <button type="submit">Remove a Book</button>
        </form>
    </td>
    </tr>
    {% endfor %}
</table>
</div>
<p>
    Cost Total :</p>
<div class="total">
    ${{ total }}
</div>
<div>
<form method="POST" action="/delete">
    <button class = "button clear" type="submit">Clear Cart</button>
</form>

</div>
<form method="post" action="/checkout">
    <button class = "button checkout" type="submit"> Checkout</button>

</form>
<dv>

</dv>

</body>
</html>
