<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Book Store</title>
</head>
<body>
<div class = "header">
    <h1>Welecome to Ibar's Book Store; here you can find cheap Books !</h1>
    <h3>We sale Python Book, English novel books , and history books . This website will help you to skip unnecessary Black Friday queues</h3>
</div>
<br>
<div class = "top">
    <div calss = 'books'>
        <form method="post" action="/save">
            <h1 class="python" >Python Books</h1>
            <select id = "pythonBooks" name = "bookNames">
                {% for book in pythonBookList %}
                <option value="{{ book[0] }}">{{ book[1] }} $ {{ book[2] }}</option>
                {%  endfor %}
            </select>
        <button class = "select" type = "submit">Add a python book into the Cart</button>

        </form>

    </div>
</div>
<br>
<div class = "cart">
    <h3>Selected Books</h3>
<table>
    {%  for book in cartItems %}
    <tr>
        <td>{{ book[0] }}</td>
        <td>${{ book[1] }}</td>
    <td>
        <form method="post" action="/remove">
            <input type="hidden" name = "removeBookItem" value={{ book[0]}}>
            <button type="submit">Remove a Book</button>
        </form>
    </td>
    </tr>
    {% endfor %}
</table>
</div>
<p>
    Cost Total :</p>
<div class="total">
    <h6> Your total is </h6>
    ${{ total }}
</div>
<div>
<form method="POST" action="/delete">
    <button class = "button clear" type="submit">Clear Cart</button>
</form>

</div>
<form method="post" action="/checkout">
    <button class = "button checkout" type="submit"> Checkout</button>

</form>
<dv>

</dv>



</body>
</html>
